* {
    padding: 0px;
    margin: 0px;
}
.site-container {
    background-color: rgb(183, 183, 183);
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header"
    "body"
    "body"
    "body";
}

.header {
    color:rgb(75, 75, 75);
    font-family: 'Courier New', Courier, monospace;
    font-size: 5rem;
    margin-top: 20x;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: header;
    position: relative;
}

.gameboards {
    grid-area: body;
    display: flex;
    justify-content: center;
    gap: 10vh;
    height:300px;
}

.player-gameboard, .enemy-gameboard {
    display: flex;
    background-color: rgb(171, 171, 171);
    height: 600px;
    width: 600px;
    border: 1px solid black;
}

.square {
    aspect-ratio: 1 / 1;
    background-color: rgb(240, 237, 235);
    border: solid black 2px;
}

.line {
    flex-grow: 1;
}

.ship {
    border: solid rgb(36, 251, 36) 2px;
    background-color: gray;
}

.hit {
    background-color: rgb(136, 75, 75);
}

.helpText {
    position: absolute;
    bottom: 50px;
    font-size: 2rem;
}